body {
  background-color: #c8d2da;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  color: #333;
  font-family: 'Didact Gothic', sans-serif;
}

h1,
h2 {
  font-family: 'Alegreya Sans', sans-serif;
}

h3 {
  font-family: 'Didact Gothic', sans-serif;
}

#about-sources {
  position: fixed;
  top: 10px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  -webkit-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.3);
  box-shadow: 3px 8px 7px -3px rgba(0,0,0,0.3);
  width: 575px;
  left: calc(50% - 250px);
  top: 200px;
  background: #f1f1f1;
  z-index: 5;
  display: none;
}

#close-info-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
#close-info-btn:hover {
  cursor: pointer;
}

#boundingBox {
  width: 1368px;
  height: 800px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#map-container {
  background-color: none;
}

#barchart-container {
  position: absolute;
  bottom: 95px;
}

#controlPnl {
  position: absolute;
  bottom: 24px;
  right: 0;
  margin: 4px 14px;
  z-index: 3;
}

#titlePnl {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 14px 18px;
}

#titlePnl h1 {
  margin: 0;
  font-size: 32pt;
  line-height: 30pt;
  color: #752e2e;
}

#titlePnl h2 {
  margin: 0;
  font-style: italic;
  font-size: 18pt;
}

#panelInfo {
  position: absolute;
  bottom: 0;
  left: 550px;
  margin-bottom: 14px;
}

#panelInfo h3 {
  margin: 0;
  font-size: 20pt;
  margin: 7px 0;
}

#picto-container-text .red {
  color: #752e2e;
}
#picto-container-text .bold {
  font-weight: bold;
}

.datamaps-arc {
  stroke-linecap: unset !important;
}

.hoverinfo {
  box-shadow: none !important;
  min-width: 80px;
  padding: 14px !important;
  text-align: center;
  height: auto;
  font-family: 'Didact Gothic', sans-serif;
  display: block;
  font-size: 16px !important;
  font-weight: bold;
}

.datamaps-subunit:hover {
  cursor: pointer;
}

.controlPnl-btn {
  display: inline-block;
}
.controlPnl-btn svg path {
  fill: #555;
}
.controlPnl-btn:hover {
  cursor: pointer;
}
.controlPnl-btn:hover svg path {
  fill: #994400;
}
#pg-num {
  display: inline-block;
  bottom: 26px;
  position: relative;
}

#picto-container-icons img {
  width: 50px;
  height: 50px;
}

.icon-div {
  /* border-radius: 50%; */
  background-color: rgba(169, 120, 120, 0.8);
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 17px 10px 20px 0;
  overflow: hidden;
}
.icon-div.grey {
  margin-left: -10px;
  background-color: rgba(160, 160, 160, 0.8);
  position: relative;
  opacity: 0.3;
}
.icon-div.grey img {
  position: absolute;
  right: 5px;
}